@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

#prev-names div {
  padding: 0 4px 0 4px;
  height: 80%;
  background: white;
  border-radius: 5px;
  color: black;
  text-align: center;
  margin: 2px 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Roboto";
  word-wrap: none;
  word-break: keep-all;
}

#prev-names {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  right: 40px;
  margin-right: 60px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hideScrollBar {
  -ms-overflow-style: none;
}

.header-text {
  text-align: center;
  color: #ff3d42;
  font-family: "Roboto";
}
#AppBar {
  height: "26px";
  margin: "auto";
  background: rgb(255, 61, 66);
  background: #303030;
}

.infoText {
  color: aqua;
  text-align: center;
  font-family: "Roboto";
}

.settings {
  background-color: #ff3d42;
}
