@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.container {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    margin-right: 16px;
}

.rollbox {
    height: 103px;
    overflow-x: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.rollbox > table {
    width: auto;
    margin: 0;
    padding: 0;
}
.loadout {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #303030;
}

.roller {
    position: relative;
    display: block;
    text-align: center;
    color: white;
    font-size: 20px;
    background: #303030;
    overflow-wrap: break-word;
}
.roller div {
    display: block;
    height: 50px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: normal;
}

.badge {
    padding-top: 5px;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
}
.line {
    width: 2px;
    height: 198px;
    top: 1px;
    left: 50%;
    position: absolute;
    background: #57b3f9;
    opacity: 0.6;
    z-index: 2;
}
.log {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: "Roboto";
    text-transform: uppercase;
}
.log span {
    font-size: 24px;
    font-weight: bold;
    color: #57b3f9;
    font-family: "Roboto";
    text-transform: uppercase;
}
.roll {
    margin-top: 15px;
}
.roller {
    height: 90px;
    background: rgb(255, 61, 66);
    width: 180px;
    margin-right: 10px;
}
tr,
table,
td {
    margin: 0;
    padding: 0;
}
